body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:784px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2252 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:59px;
}
#u2253 {
  position:absolute;
  left:409px;
  top:33px;
  width:375px;
  height:59px;
}
#u2254 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:696px;
}
#u2255 {
  position:absolute;
  left:409px;
  top:91px;
  width:27px;
  height:696px;
}
#u2256 {
  position:absolute;
  left:2px;
  top:340px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:55px;
}
#u2257 {
  position:absolute;
  left:434px;
  top:731px;
  width:323px;
  height:55px;
}
#u2258 {
  position:absolute;
  left:2px;
  top:20px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:692px;
}
#u2259 {
  position:absolute;
  left:757px;
  top:92px;
  width:27px;
  height:692px;
}
#u2260 {
  position:absolute;
  left:2px;
  top:338px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2261 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2262 {
  position:absolute;
  left:677px;
  top:94px;
  width:75px;
  height:27px;
}
#u2263 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2264 {
  position:absolute;
  left:727px;
  top:101px;
  width:14px;
  height:14px;
}
#u2265 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2266 {
  position:absolute;
  left:731px;
  top:105px;
  width:5px;
  height:5px;
}
#u2267 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u2268 {
  position:absolute;
  left:691px;
  top:106px;
  width:3px;
  height:3px;
}
#u2269 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2270 {
  position:absolute;
  left:695px;
  top:105px;
  width:5px;
  height:5px;
}
#u2271 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u2272 {
  position:absolute;
  left:703px;
  top:106px;
  width:3px;
  height:3px;
}
#u2273 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u2274 {
  position:absolute;
  left:714px;
  top:102px;
  width:1px;
  height:14px;
}
#u2275 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:2px;
}
#u2276 {
  position:absolute;
  left:435px;
  top:121px;
  width:323px;
  height:1px;
}
#u2277 {
  position:absolute;
  left:2px;
  top:-8px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u2278 {
  position:absolute;
  left:564px;
  top:97px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u2279 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2280 {
  position:absolute;
  left:435px;
  top:93px;
  width:28px;
  height:28px;
}
#u2281 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2282 {
  position:absolute;
  left:435px;
  top:121px;
  width:323px;
  height:169px;
}
#u2283 {
  position:absolute;
  left:2px;
  top:76px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:552px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-radius:7px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u2284 {
  position:absolute;
  left:443px;
  top:217px;
  width:305px;
  height:552px;
}
#u2285 {
  position:absolute;
  left:2px;
  top:268px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
}
#u2286 {
  position:absolute;
  left:511px;
  top:165px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2287 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u2288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
}
#u2288 {
  position:absolute;
  left:457px;
  top:163px;
  width:53px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FF9966;
}
#u2289 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2290 {
  position:absolute;
  left:513px;
  top:229px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2291 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2292 {
  position:absolute;
  left:636px;
  top:229px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2293 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2294 {
  position:absolute;
  left:460px;
  top:275px;
  width:40px;
  height:40px;
}
#u2295 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2296 {
  position:absolute;
  left:510px;
  top:285px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2297 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2298 {
  position:absolute;
  left:615px;
  top:285px;
  width:115px;
  height:16px;
  color:#FFFFFF;
}
#u2299 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u2300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2300 {
  position:absolute;
  left:457px;
  top:274px;
  width:16px;
  height:16px;
}
#u2301 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u2302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2302 {
  position:absolute;
  left:460px;
  top:325px;
  width:40px;
  height:40px;
}
#u2303 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2304 {
  position:absolute;
  left:510px;
  top:335px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2305 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2306 {
  position:absolute;
  left:615px;
  top:335px;
  width:115px;
  height:16px;
  color:#FFFFFF;
}
#u2307 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u2308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2308 {
  position:absolute;
  left:457px;
  top:324px;
  width:16px;
  height:16px;
}
#u2309 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u2310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2310 {
  position:absolute;
  left:460px;
  top:375px;
  width:40px;
  height:40px;
}
#u2311 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2312 {
  position:absolute;
  left:510px;
  top:385px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2313 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2314 {
  position:absolute;
  left:615px;
  top:385px;
  width:115px;
  height:16px;
  color:#FFFFFF;
}
#u2315 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u2316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2316 {
  position:absolute;
  left:457px;
  top:374px;
  width:16px;
  height:16px;
}
#u2317 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u2318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2318 {
  position:absolute;
  left:460px;
  top:425px;
  width:40px;
  height:40px;
}
#u2319 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2320 {
  position:absolute;
  left:510px;
  top:435px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2321 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2322 {
  position:absolute;
  left:615px;
  top:435px;
  width:115px;
  height:16px;
  color:#FFFFFF;
}
#u2323 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u2324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2324 {
  position:absolute;
  left:460px;
  top:475px;
  width:40px;
  height:40px;
}
#u2325 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2326 {
  position:absolute;
  left:510px;
  top:485px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2327 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2328 {
  position:absolute;
  left:615px;
  top:485px;
  width:115px;
  height:16px;
  color:#FFFFFF;
}
#u2329 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u2330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2330 {
  position:absolute;
  left:460px;
  top:525px;
  width:40px;
  height:40px;
}
#u2331 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2332 {
  position:absolute;
  left:510px;
  top:535px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2333 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2334 {
  position:absolute;
  left:615px;
  top:535px;
  width:115px;
  height:16px;
  color:#FFFFFF;
}
#u2335 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u2336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2336 {
  position:absolute;
  left:460px;
  top:575px;
  width:40px;
  height:40px;
}
#u2337 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2338 {
  position:absolute;
  left:510px;
  top:585px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2339 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2340 {
  position:absolute;
  left:615px;
  top:585px;
  width:115px;
  height:16px;
  color:#FFFFFF;
}
#u2341 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u2342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2342 {
  position:absolute;
  left:460px;
  top:625px;
  width:40px;
  height:40px;
}
#u2343 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2344 {
  position:absolute;
  left:510px;
  top:635px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2345 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2346 {
  position:absolute;
  left:615px;
  top:635px;
  width:115px;
  height:16px;
  color:#FFFFFF;
}
#u2347 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u2348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2348 {
  position:absolute;
  left:460px;
  top:675px;
  width:40px;
  height:40px;
}
#u2349 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2350 {
  position:absolute;
  left:510px;
  top:685px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2351 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2352 {
  position:absolute;
  left:615px;
  top:685px;
  width:115px;
  height:16px;
  color:#FFFFFF;
}
#u2353 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u2354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2354 {
  position:absolute;
  left:460px;
  top:725px;
  width:40px;
  height:40px;
}
#u2355 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2356 {
  position:absolute;
  left:510px;
  top:735px;
  width:44px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u2357 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2358 {
  position:absolute;
  left:615px;
  top:735px;
  width:115px;
  height:16px;
  color:#FFFFFF;
}
#u2359 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u2360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:2px;
}
#u2360 {
  position:absolute;
  left:443px;
  top:261px;
  width:303px;
  height:1px;
}
#u2361 {
  position:absolute;
  left:2px;
  top:-8px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
