body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1082px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4852 {
  position:absolute;
  left:179px;
  top:117px;
  width:300px;
  height:586px;
}
#u4852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:586px;
}
#u4852_ref {
  position:absolute;
  left:471px;
  top:693px;
  width:1px;
  height:1px;
}
#u4853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4853 {
  position:absolute;
  left:583px;
  top:117px;
  width:499px;
  height:29px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4854 {
  position:absolute;
  left:2px;
  top:6px;
  width:495px;
  word-wrap:break-word;
}
#u4855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4855 {
  position:absolute;
  left:603px;
  top:156px;
  width:15px;
  height:16px;
}
#u4856 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u4857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4857 {
  position:absolute;
  left:583px;
  top:202px;
  width:499px;
  height:29px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4858 {
  position:absolute;
  left:2px;
  top:6px;
  width:495px;
  word-wrap:break-word;
}
#u4859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4859 {
  position:absolute;
  left:603px;
  top:246px;
  width:155px;
  height:16px;
}
#u4860 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u4861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4861 {
  position:absolute;
  left:583px;
  top:286px;
  width:499px;
  height:29px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4862 {
  position:absolute;
  left:2px;
  top:6px;
  width:495px;
  word-wrap:break-word;
}
#u4863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4863 {
  position:absolute;
  left:603px;
  top:161px;
  width:197px;
  height:16px;
}
#u4864 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u4865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4865 {
  position:absolute;
  left:603px;
  top:326px;
  width:167px;
  height:22px;
}
#u4866 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u4867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4867 {
  position:absolute;
  left:603px;
  top:384px;
  width:245px;
  height:22px;
}
#u4868 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u4869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4869 {
  position:absolute;
  left:603px;
  top:732px;
  width:245px;
  height:22px;
}
#u4870 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u4871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4871 {
  position:absolute;
  left:604px;
  top:760px;
  width:234px;
  height:19px;
}
#u4872 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u4873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4873 {
  position:absolute;
  left:604px;
  top:790px;
  width:362px;
  height:19px;
}
#u4874 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  white-space:nowrap;
}
#u4875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4875 {
  position:absolute;
  left:604px;
  top:820px;
  width:308px;
  height:19px;
}
#u4876 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  white-space:nowrap;
}
#u4877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4877 {
  position:absolute;
  left:603px;
  top:1072px;
  width:437px;
  height:22px;
}
#u4878 {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  white-space:nowrap;
}
#u4879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
}
#u4879 {
  position:absolute;
  left:604px;
  top:1104px;
  width:155px;
  height:16px;
  font-size:14px;
}
#u4880 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u4881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4881 {
  position:absolute;
  left:603px;
  top:1162px;
  width:269px;
  height:22px;
}
#u4882 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u4883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4883 {
  position:absolute;
  left:604px;
  top:1190px;
  width:202px;
  height:19px;
}
#u4884 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u4885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4885 {
  position:absolute;
  left:604px;
  top:1220px;
  width:403px;
  height:19px;
}
#u4886 {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  white-space:nowrap;
}
#u4887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4887 {
  position:absolute;
  left:604px;
  top:1250px;
  width:330px;
  height:19px;
}
#u4888 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  white-space:nowrap;
}
#u4889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4889 {
  position:absolute;
  left:604px;
  top:1280px;
  width:304px;
  height:19px;
}
#u4890 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  white-space:nowrap;
}
#u4891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4891 {
  position:absolute;
  left:603px;
  top:1362px;
  width:273px;
  height:22px;
}
#u4892 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u4893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4893 {
  position:absolute;
  left:604px;
  top:1390px;
  width:450px;
  height:19px;
}
#u4894 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  white-space:nowrap;
}
#u4895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u4895 {
  position:absolute;
  left:604px;
  top:1414px;
  width:183px;
  height:16px;
  font-size:14px;
}
#u4896 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u4897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4897 {
  position:absolute;
  left:604px;
  top:1440px;
  width:384px;
  height:19px;
}
#u4898 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  white-space:nowrap;
}
#u4899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4899 {
  position:absolute;
  left:604px;
  top:1470px;
  width:377px;
  height:16px;
}
#u4900 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  white-space:nowrap;
}
#u4901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4901 {
  position:absolute;
  left:604px;
  top:1500px;
  width:378px;
  height:16px;
}
#u4902 {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  white-space:nowrap;
}
#u4903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4903 {
  position:absolute;
  left:604px;
  top:1530px;
  width:382px;
  height:16px;
}
#u4904 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  white-space:nowrap;
}
#u4905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4905 {
  position:absolute;
  left:603px;
  top:1582px;
  width:399px;
  height:22px;
}
#u4906 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  white-space:nowrap;
}
#u4907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4907 {
  position:absolute;
  left:603px;
  top:1642px;
  width:301px;
  height:22px;
}
#u4908 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u4909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4909 {
  position:absolute;
  left:604px;
  top:1670px;
  width:262px;
  height:19px;
}
#u4910 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  white-space:nowrap;
}
#u4911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4911 {
  position:absolute;
  left:604px;
  top:1700px;
  width:423px;
  height:19px;
}
#u4912 {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  white-space:nowrap;
}
#u4913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4913 {
  position:absolute;
  left:604px;
  top:1730px;
  width:336px;
  height:19px;
}
#u4914 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  white-space:nowrap;
}
#u4915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4915 {
  position:absolute;
  left:604px;
  top:1760px;
  width:216px;
  height:19px;
}
#u4916 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  white-space:nowrap;
}
#u4917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4917 {
  position:absolute;
  left:603px;
  top:892px;
  width:343px;
  height:22px;
}
#u4918 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u4919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4919 {
  position:absolute;
  left:604px;
  top:923px;
  width:449px;
  height:19px;
}
#u4920 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  white-space:nowrap;
}
#u4921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4921 {
  position:absolute;
  left:604px;
  top:946px;
  width:71px;
  height:16px;
}
#u4922 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4923 {
  position:absolute;
  left:603px;
  top:975px;
  width:290px;
  height:19px;
}
#u4924 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  white-space:nowrap;
}
#u4925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4925 {
  position:absolute;
  left:603px;
  top:1005px;
  width:350px;
  height:19px;
}
#u4926 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  white-space:nowrap;
}
#u4927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4927 {
  position:absolute;
  left:603px;
  top:434px;
  width:387px;
  height:22px;
}
#u4928 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  white-space:nowrap;
}
#u4929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4929 {
  position:absolute;
  left:603px;
  top:468px;
  width:458px;
  height:19px;
}
#u4930 {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  white-space:nowrap;
}
#u4931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4931 {
  position:absolute;
  left:601px;
  top:499px;
  width:461px;
  height:16px;
}
#u4932 {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  white-space:nowrap;
}
#u4933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
}
#u4933 {
  position:absolute;
  left:603px;
  top:525px;
  width:253px;
  height:16px;
  font-size:14px;
}
#u4934 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u4935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4935 {
  position:absolute;
  left:601px;
  top:554px;
  width:308px;
  height:16px;
}
#u4936 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  white-space:nowrap;
}
#u4937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4937 {
  position:absolute;
  left:603px;
  top:584px;
  width:468px;
  height:19px;
}
#u4938 {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  white-space:nowrap;
}
#u4939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4939 {
  position:absolute;
  left:603px;
  top:614px;
  width:281px;
  height:16px;
}
#u4940 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u4941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4941 {
  position:absolute;
  left:601px;
  top:639px;
  width:429px;
  height:16px;
}
#u4942 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  white-space:nowrap;
}
#u4943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4943 {
  position:absolute;
  left:601px;
  top:669px;
  width:374px;
  height:16px;
}
#u4944 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  white-space:nowrap;
}
