body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1112px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4616 {
  position:absolute;
  left:309px;
  top:107px;
  width:300px;
  height:586px;
}
#u4616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:586px;
}
#u4616_ref {
  position:absolute;
  left:601px;
  top:683px;
  width:1px;
  height:1px;
}
#u4617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4617 {
  position:absolute;
  left:613px;
  top:117px;
  width:499px;
  height:29px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4618 {
  position:absolute;
  left:2px;
  top:6px;
  width:495px;
  word-wrap:break-word;
}
#u4619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4619 {
  position:absolute;
  left:633px;
  top:156px;
  width:15px;
  height:16px;
}
#u4620 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u4621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4621 {
  position:absolute;
  left:613px;
  top:202px;
  width:499px;
  height:29px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4622 {
  position:absolute;
  left:2px;
  top:6px;
  width:495px;
  word-wrap:break-word;
}
#u4623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4623 {
  position:absolute;
  left:633px;
  top:246px;
  width:155px;
  height:16px;
}
#u4624 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u4625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4625 {
  position:absolute;
  left:613px;
  top:286px;
  width:499px;
  height:29px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4626 {
  position:absolute;
  left:2px;
  top:6px;
  width:495px;
  word-wrap:break-word;
}
#u4627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4627 {
  position:absolute;
  left:633px;
  top:161px;
  width:211px;
  height:16px;
}
#u4628 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u4629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4629 {
  position:absolute;
  left:633px;
  top:336px;
  width:441px;
  height:22px;
}
#u4630 {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  white-space:nowrap;
}
#u4631 {
  position:absolute;
  left:9px;
  top:111px;
  width:300px;
  height:586px;
}
#u4631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:586px;
}
#u4631_ref {
  position:absolute;
  left:301px;
  top:687px;
  width:1px;
  height:1px;
}
#u4632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4632 {
  position:absolute;
  left:633px;
  top:406px;
  width:409px;
  height:22px;
}
#u4633 {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  white-space:nowrap;
}
#u4634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u4634 {
  position:absolute;
  left:633px;
  top:368px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u4635 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u4636 {
  position:absolute;
  left:633px;
  top:431px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u4637 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
