body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:784px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:59px;
}
#u1161 {
  position:absolute;
  left:409px;
  top:33px;
  width:375px;
  height:59px;
}
#u1162 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:696px;
}
#u1163 {
  position:absolute;
  left:409px;
  top:91px;
  width:27px;
  height:696px;
}
#u1164 {
  position:absolute;
  left:2px;
  top:340px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:55px;
}
#u1165 {
  position:absolute;
  left:434px;
  top:731px;
  width:323px;
  height:55px;
}
#u1166 {
  position:absolute;
  left:2px;
  top:20px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:692px;
}
#u1167 {
  position:absolute;
  left:757px;
  top:92px;
  width:27px;
  height:692px;
}
#u1168 {
  position:absolute;
  left:2px;
  top:338px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1169 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1170 {
  position:absolute;
  left:677px;
  top:94px;
  width:75px;
  height:27px;
}
#u1171 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1172 {
  position:absolute;
  left:727px;
  top:101px;
  width:14px;
  height:14px;
}
#u1173 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1174 {
  position:absolute;
  left:731px;
  top:105px;
  width:5px;
  height:5px;
}
#u1175 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u1176 {
  position:absolute;
  left:691px;
  top:106px;
  width:3px;
  height:3px;
}
#u1177 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1178 {
  position:absolute;
  left:695px;
  top:105px;
  width:5px;
  height:5px;
}
#u1179 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u1180 {
  position:absolute;
  left:703px;
  top:106px;
  width:3px;
  height:3px;
}
#u1181 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u1182 {
  position:absolute;
  left:714px;
  top:102px;
  width:1px;
  height:14px;
}
#u1183 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u1184 {
  position:absolute;
  left:558px;
  top:98px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u1185 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u1186 {
  position:absolute;
  left:435px;
  top:93px;
  width:28px;
  height:28px;
}
#u1187 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188 {
  position:absolute;
  left:435px;
  top:119px;
  width:323px;
  height:641px;
  overflow:hidden;
}
#u1188_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:641px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1188_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1189 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:641px;
  overflow:hidden;
}
#u1189_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:641px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1189_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:234px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1190 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:234px;
}
#u1191 {
  position:absolute;
  left:2px;
  top:109px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:24px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u1192 {
  position:absolute;
  left:257px;
  top:81px;
  width:66px;
  height:24px;
  font-size:12px;
  color:#949494;
}
#u1193 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u1194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF3333;
}
#u1194 {
  position:absolute;
  left:121px;
  top:311px;
  width:81px;
  height:33px;
  font-size:28px;
  color:#FF3333;
}
#u1195 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1196 {
  position:absolute;
  left:75px;
  top:282px;
  width:173px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1197 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u1198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1198 {
  position:absolute;
  left:10px;
  top:1148px;
  width:90px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1199 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u1200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1200 {
  position:absolute;
  left:10px;
  top:1177px;
  width:30px;
  height:30px;
}
#u1201 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1202 {
  position:absolute;
  left:45px;
  top:1177px;
  width:30px;
  height:30px;
}
#u1203 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1204 {
  position:absolute;
  left:80px;
  top:1177px;
  width:30px;
  height:30px;
}
#u1205 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1206 {
  position:absolute;
  left:115px;
  top:1177px;
  width:30px;
  height:30px;
}
#u1207 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1208 {
  position:absolute;
  left:150px;
  top:1177px;
  width:30px;
  height:30px;
}
#u1209 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1210 {
  position:absolute;
  left:185px;
  top:1177px;
  width:30px;
  height:30px;
}
#u1211 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1212 {
  position:absolute;
  left:255px;
  top:1177px;
  width:30px;
  height:30px;
}
#u1213 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1214 {
  position:absolute;
  left:220px;
  top:1177px;
  width:30px;
  height:30px;
}
#u1215 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1216 {
  position:absolute;
  left:290px;
  top:1177px;
  width:30px;
  height:30px;
}
#u1217 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1218 {
  position:absolute;
  left:293px;
  top:1189px;
  width:6px;
  height:6px;
}
#u1219 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1220 {
  position:absolute;
  left:302px;
  top:1189px;
  width:6px;
  height:6px;
}
#u1221 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1222 {
  position:absolute;
  left:311px;
  top:1189px;
  width:6px;
  height:6px;
}
#u1223 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:24px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u1224 {
  position:absolute;
  left:257px;
  top:81px;
  width:66px;
  height:24px;
  font-size:12px;
  color:#949494;
}
#u1225 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u1226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:205px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-radius:7px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u1226 {
  position:absolute;
  left:8px;
  top:271px;
  width:305px;
  height:205px;
}
#u1227 {
  position:absolute;
  left:2px;
  top:94px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1228 {
  position:absolute;
  left:105px;
  top:354px;
  width:113px;
  height:19px;
}
#u1229 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF3333;
}
#u1230 {
  position:absolute;
  left:121px;
  top:311px;
  width:81px;
  height:33px;
  font-size:28px;
  color:#FF3333;
}
#u1231 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1232 {
  position:absolute;
  left:81px;
  top:282px;
  width:173px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1234 {
  position:absolute;
  left:10px;
  top:1177px;
  width:30px;
  height:30px;
}
#u1235 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1236 {
  position:absolute;
  left:45px;
  top:1177px;
  width:30px;
  height:30px;
}
#u1237 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1238 {
  position:absolute;
  left:80px;
  top:1177px;
  width:30px;
  height:30px;
}
#u1239 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1240 {
  position:absolute;
  left:115px;
  top:1177px;
  width:30px;
  height:30px;
}
#u1241 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1242 {
  position:absolute;
  left:150px;
  top:1177px;
  width:30px;
  height:30px;
}
#u1243 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1244 {
  position:absolute;
  left:185px;
  top:1177px;
  width:30px;
  height:30px;
}
#u1245 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1246 {
  position:absolute;
  left:255px;
  top:1177px;
  width:30px;
  height:30px;
}
#u1247 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1248 {
  position:absolute;
  left:220px;
  top:1177px;
  width:30px;
  height:30px;
}
#u1249 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1250 {
  position:absolute;
  left:290px;
  top:1177px;
  width:30px;
  height:30px;
}
#u1251 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1252 {
  position:absolute;
  left:293px;
  top:1189px;
  width:6px;
  height:6px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1254 {
  position:absolute;
  left:302px;
  top:1189px;
  width:6px;
  height:6px;
}
#u1255 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1256 {
  position:absolute;
  left:311px;
  top:1189px;
  width:6px;
  height:6px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u1259 {
  position:absolute;
  left:9px;
  top:1278px;
  width:305px;
  height:100px;
}
#u1260 {
  position:absolute;
  left:2px;
  top:42px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  border:none;
  border-radius:7px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1261 {
  position:absolute;
  left:9px;
  top:1277px;
  width:80px;
  height:28px;
}
#u1262 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u1263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1263 {
  position:absolute;
  left:22px;
  top:1315px;
  width:131px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1264 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u1265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1265 {
  position:absolute;
  left:22px;
  top:1341px;
  width:85px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1266 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1267 {
  position:absolute;
  left:193px;
  top:1344px;
  width:115px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1268 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u1269 {
  position:absolute;
  left:112px;
  top:1317px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:417px;
}
#u1270 {
  position:absolute;
  left:10px;
  top:502px;
  width:303px;
  height:413px;
  color:#FFFFFF;
}
#u1271 {
  position:absolute;
  left:2px;
  top:198px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:387px;
}
#u1272 {
  position:absolute;
  left:19px;
  top:512px;
  width:283px;
  height:387px;
  color:#FFFFFF;
}
#u1273 {
  position:absolute;
  left:2px;
  top:186px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文琥珀 Oblique', '华文琥珀';
  font-weight:400;
  font-style:oblique;
  font-size:28px;
}
#u1274 {
  position:absolute;
  left:105px;
  top:492px;
  width:113px;
  height:29px;
  font-family:'华文琥珀 Oblique', '华文琥珀';
  font-weight:400;
  font-style:oblique;
  font-size:28px;
}
#u1275 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1276 {
  position:absolute;
  left:45px;
  top:533px;
  width:10px;
  height:10px;
}
#u1277 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1278 {
  position:absolute;
  left:268px;
  top:533px;
  width:10px;
  height:10px;
}
#u1279 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1280 {
  position:absolute;
  left:268px;
  top:866px;
  width:10px;
  height:10px;
}
#u1281 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1282 {
  position:absolute;
  left:41px;
  top:866px;
  width:10px;
  height:10px;
}
#u1283 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1284 {
  position:absolute;
  left:45px;
  top:553px;
  width:129px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1285 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1286 {
  position:absolute;
  left:45px;
  top:579px;
  width:241px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1287 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u1288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:15px;
}
#u1288 {
  position:absolute;
  left:45px;
  top:601px;
  width:241px;
  height:15px;
  font-size:12px;
}
#u1289 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u1290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:15px;
}
#u1290 {
  position:absolute;
  left:45px;
  top:624px;
  width:229px;
  height:15px;
  font-size:12px;
}
#u1291 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u1292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1292 {
  position:absolute;
  left:45px;
  top:658px;
  width:129px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1293 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1294 {
  position:absolute;
  left:45px;
  top:684px;
  width:13px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1295 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  visibility:hidden;
  white-space:nowrap;
}
#u1296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1296 {
  position:absolute;
  left:45px;
  top:689px;
  width:241px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1297 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u1298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:15px;
}
#u1298 {
  position:absolute;
  left:45px;
  top:710px;
  width:265px;
  height:15px;
  font-size:12px;
}
#u1299 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u1300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
}
#u1300 {
  position:absolute;
  left:45px;
  top:733px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u1301 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1302 {
  position:absolute;
  left:45px;
  top:771px;
  width:129px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1303 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1304 {
  position:absolute;
  left:45px;
  top:802px;
  width:241px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1305 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u1306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:15px;
}
#u1306 {
  position:absolute;
  left:45px;
  top:823px;
  width:287px;
  height:15px;
  font-size:12px;
}
#u1307 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u1308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
  text-align:center;
}
#u1308 {
  position:absolute;
  left:121px;
  top:860px;
  width:81px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
  text-align:center;
}
#u1309 {
  position:absolute;
  left:0px;
  top:3px;
  width:81px;
  word-wrap:break-word;
}
#u1310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u1310 {
  position:absolute;
  left:45px;
  top:843px;
  width:53px;
  height:15px;
  font-size:12px;
}
#u1311 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-radius:19px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1312 {
  position:absolute;
  left:26px;
  top:1229px;
  width:271px;
  height:39px;
  color:#FFFFFF;
}
#u1313 {
  position:absolute;
  left:2px;
  top:12px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u1314 {
  position:absolute;
  left:117px;
  top:1233px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1315 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:13px;
}
#u1316 {
  position:absolute;
  left:124px;
  top:1249px;
  width:75px;
  height:13px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u1317 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1318 {
  position:absolute;
  left:26px;
  top:379px;
  width:271px;
  height:74px;
  color:#FFFFFF;
}
#u1319 {
  position:absolute;
  left:2px;
  top:29px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u1320 {
  position:absolute;
  left:40px;
  top:415px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1321 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
}
#u1322 {
  position:absolute;
  left:115px;
  top:415px;
  width:88px;
  height:22px;
  color:#FFFFFF;
}
#u1323 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u1324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u1324 {
  position:absolute;
  left:232px;
  top:418px;
  width:57px;
  height:16px;
  font-size:14px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u1325 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
}
#u1326 {
  position:absolute;
  left:57px;
  top:388px;
  width:209px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9966;
}
#u1327 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u1328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1328 {
  position:absolute;
  left:0px;
  top:925px;
  width:323px;
  height:213px;
}
#u1329 {
  position:absolute;
  left:2px;
  top:98px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:159px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1330 {
  position:absolute;
  left:9px;
  top:964px;
  width:300px;
  height:159px;
}
#u1331 {
  position:absolute;
  left:2px;
  top:72px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1332 {
  position:absolute;
  left:45px;
  top:952px;
  width:221px;
  height:31px;
}
#u1333 {
  position:absolute;
  left:2px;
  top:8px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:45px;
}
#u1334 {
  position:absolute;
  left:55px;
  top:935px;
  width:199px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1335 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  word-wrap:break-word;
}
#u1336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u1336 {
  position:absolute;
  left:265px;
  top:951px;
  width:17px;
  height:20px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1337 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u1338 {
  position:absolute;
  left:266px;
  top:963px;
  width:17px;
  height:20px;
}
#u1339 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u1340 {
  position:absolute;
  left:28px;
  top:952px;
  width:17px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1341 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u1342 {
  position:absolute;
  left:30px;
  top:965px;
  width:17px;
  height:20px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1343 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:37px;
}
#u1344 {
  position:absolute;
  left:77px;
  top:965px;
  width:157px;
  height:27px;
}
#u1345 {
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u1346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1346 {
  position:absolute;
  left:30px;
  top:1002px;
  width:50px;
  height:50px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1348 {
  position:absolute;
  left:19px;
  top:1040px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u1349 {
  position:absolute;
  left:2px;
  top:3px;
  width:69px;
  word-wrap:break-word;
}
#u1350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1350 {
  position:absolute;
  left:37px;
  top:1065px;
  width:38px;
  height:16px;
}
#u1351 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u1352 {
  position:absolute;
  left:26px;
  top:1082px;
  width:45px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u1353 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9966;
}
#u1354 {
  position:absolute;
  left:71px;
  top:1087px;
  width:15px;
  height:16px;
  color:#FF9966;
}
#u1355 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1356 {
  position:absolute;
  left:130px;
  top:1002px;
  width:50px;
  height:50px;
}
#u1357 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1358 {
  position:absolute;
  left:119px;
  top:1040px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u1359 {
  position:absolute;
  left:2px;
  top:3px;
  width:69px;
  word-wrap:break-word;
}
#u1360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1360 {
  position:absolute;
  left:137px;
  top:1065px;
  width:38px;
  height:16px;
}
#u1361 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9966;
}
#u1362 {
  position:absolute;
  left:134px;
  top:1083px;
  width:34px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9966;
}
#u1363 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9966;
}
#u1364 {
  position:absolute;
  left:171px;
  top:1087px;
  width:15px;
  height:16px;
  color:#FF9966;
}
#u1365 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1366 {
  position:absolute;
  left:230px;
  top:1002px;
  width:50px;
  height:50px;
}
#u1367 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1368 {
  position:absolute;
  left:219px;
  top:1040px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u1369 {
  position:absolute;
  left:2px;
  top:3px;
  width:69px;
  word-wrap:break-word;
}
#u1370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1370 {
  position:absolute;
  left:237px;
  top:1065px;
  width:39px;
  height:16px;
}
#u1371 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFCC99;
}
#u1372 {
  position:absolute;
  left:236px;
  top:1083px;
  width:34px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFCC99;
}
#u1373 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9966;
}
#u1374 {
  position:absolute;
  left:271px;
  top:1087px;
  width:15px;
  height:16px;
  color:#FF9966;
}
#u1375 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u1376 {
  position:absolute;
  left:30px;
  top:156px;
  width:263px;
  height:105px;
}
#u1377 {
  position:absolute;
  left:2px;
  top:44px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:39px;
}
#u1378 {
  position:absolute;
  left:30px;
  top:119px;
  width:263px;
  height:39px;
}
#u1379 {
  position:absolute;
  left:2px;
  top:12px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FBDC56;
}
#u1380 {
  position:absolute;
  left:109px;
  top:181px;
  width:106px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FBDC56;
}
#u1381 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
}
#u1382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1382 {
  position:absolute;
  left:84px;
  top:220px;
  width:173px;
  height:16px;
}
#u1383 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
