body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:784px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2919 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:59px;
}
#u2920 {
  position:absolute;
  left:409px;
  top:33px;
  width:375px;
  height:59px;
}
#u2921 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:696px;
}
#u2922 {
  position:absolute;
  left:409px;
  top:91px;
  width:27px;
  height:696px;
}
#u2923 {
  position:absolute;
  left:2px;
  top:340px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:55px;
}
#u2924 {
  position:absolute;
  left:434px;
  top:731px;
  width:323px;
  height:55px;
}
#u2925 {
  position:absolute;
  left:2px;
  top:20px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:692px;
}
#u2926 {
  position:absolute;
  left:757px;
  top:92px;
  width:27px;
  height:692px;
}
#u2927 {
  position:absolute;
  left:2px;
  top:338px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2928 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2929 {
  position:absolute;
  left:677px;
  top:94px;
  width:75px;
  height:27px;
}
#u2930 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u2931 {
  position:absolute;
  left:727px;
  top:101px;
  width:14px;
  height:14px;
}
#u2932 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2933 {
  position:absolute;
  left:731px;
  top:105px;
  width:5px;
  height:5px;
}
#u2934 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u2935 {
  position:absolute;
  left:691px;
  top:106px;
  width:3px;
  height:3px;
}
#u2936 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u2937 {
  position:absolute;
  left:695px;
  top:105px;
  width:5px;
  height:5px;
}
#u2938 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u2939 {
  position:absolute;
  left:703px;
  top:106px;
  width:3px;
  height:3px;
}
#u2940 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u2941 {
  position:absolute;
  left:714px;
  top:102px;
  width:1px;
  height:14px;
}
#u2942 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:2px;
}
#u2943 {
  position:absolute;
  left:435px;
  top:121px;
  width:323px;
  height:1px;
}
#u2944 {
  position:absolute;
  left:2px;
  top:-8px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2945 {
  position:absolute;
  left:435px;
  top:93px;
  width:28px;
  height:28px;
}
#u2946 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#949494;
}
#u2947 {
  position:absolute;
  left:447px;
  top:135px;
  width:74px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#949494;
}
#u2948 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u2949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2949 {
  position:absolute;
  left:447px;
  top:165px;
  width:73px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2950 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u2951 {
  position:absolute;
  left:447px;
  top:209px;
  width:300px;
  height:1px;
}
#u2952 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2953 {
  position:absolute;
  left:447px;
  top:219px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2954 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 102, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9966;
}
#u2955 {
  position:absolute;
  left:471px;
  top:696px;
  width:251px;
  height:30px;
  color:#FF9966;
}
#u2956 {
  position:absolute;
  left:2px;
  top:7px;
  width:247px;
  word-wrap:break-word;
}
#u2957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2957 {
  position:absolute;
  left:487px;
  top:250px;
  width:173px;
  height:16px;
}
#u2958 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u2959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u2959 {
  position:absolute;
  left:447px;
  top:297px;
  width:300px;
  height:1px;
}
#u2960 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u2961 {
  position:absolute;
  left:695px;
  top:254px;
  width:52px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u2962 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2963 {
  position:absolute;
  left:451px;
  top:254px;
  width:30px;
  height:30px;
}
#u2964 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u2965 {
  position:absolute;
  left:487px;
  top:273px;
  width:101px;
  height:16px;
  color:#A1A1A1;
}
#u2966 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2967 {
  position:absolute;
  left:487px;
  top:310px;
  width:29px;
  height:16px;
}
#u2968 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u2969 {
  position:absolute;
  left:447px;
  top:357px;
  width:300px;
  height:1px;
}
#u2970 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2971 {
  position:absolute;
  left:689px;
  top:314px;
  width:58px;
  height:24px;
  font-size:20px;
}
#u2972 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2973 {
  position:absolute;
  left:452px;
  top:316px;
  width:25px;
  height:25px;
}
#u2974 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u2975 {
  position:absolute;
  left:487px;
  top:333px;
  width:101px;
  height:16px;
  color:#A1A1A1;
}
#u2976 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
