body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1323px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u5333 {
  position:absolute;
  left:402px;
  top:559px;
  width:499px;
  height:29px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u5334 {
  position:absolute;
  left:2px;
  top:6px;
  width:495px;
  word-wrap:break-word;
}
#u5335 {
  position:absolute;
  left:661px;
  top:2667px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5336 {
  position:absolute;
  left:422px;
  top:651px;
  width:291px;
  height:22px;
}
#u5337 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  white-space:nowrap;
}
#u5338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5338 {
  position:absolute;
  left:422px;
  top:773px;
  width:340px;
  height:19px;
}
#u5339 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  white-space:nowrap;
}
#u5340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5340 {
  position:absolute;
  left:624px;
  top:604px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5341 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:473px;
}
#u5342 {
  position:absolute;
  left:23px;
  top:20px;
  width:1300px;
  height:473px;
}
#u5343 {
  position:absolute;
  left:2px;
  top:228px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5344 {
  position:absolute;
  left:422px;
  top:701px;
  width:403px;
  height:22px;
}
#u5345 {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  white-space:nowrap;
}
#u5346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u5346 {
  position:absolute;
  left:424px;
  top:859px;
  width:85px;
  height:16px;
  font-size:14px;
}
#u5347 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5348 {
  position:absolute;
  left:422px;
  top:751px;
  width:331px;
  height:22px;
}
#u5349 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u5350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5350 {
  position:absolute;
  left:422px;
  top:803px;
  width:486px;
  height:19px;
}
#u5351 {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  white-space:nowrap;
}
#u5352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5352 {
  position:absolute;
  left:422px;
  top:833px;
  width:454px;
  height:19px;
}
#u5353 {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  white-space:nowrap;
}
#u5354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5354 {
  position:absolute;
  left:422px;
  top:883px;
  width:492px;
  height:19px;
}
#u5355 {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  white-space:nowrap;
}
#u5356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5356 {
  position:absolute;
  left:422px;
  top:941px;
  width:219px;
  height:22px;
}
#u5357 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u5358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5358 {
  position:absolute;
  left:422px;
  top:1001px;
  width:313px;
  height:22px;
}
#u5359 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u5360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5360 {
  position:absolute;
  left:422px;
  top:1061px;
  width:313px;
  height:22px;
}
#u5361 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u5362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5362 {
  position:absolute;
  left:422px;
  top:1113px;
  width:291px;
  height:22px;
}
#u5363 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  white-space:nowrap;
}
#u5364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5364 {
  position:absolute;
  left:422px;
  top:1163px;
  width:273px;
  height:22px;
}
#u5365 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u5366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5366 {
  position:absolute;
  left:422px;
  top:1213px;
  width:461px;
  height:22px;
}
#u5367 {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  white-space:nowrap;
}
#u5368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5368 {
  position:absolute;
  left:422px;
  top:1268px;
  width:443px;
  height:22px;
}
#u5369 {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  white-space:nowrap;
}
#u5370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5370 {
  position:absolute;
  left:422px;
  top:1328px;
  width:457px;
  height:22px;
}
#u5371 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  white-space:nowrap;
}
#u5372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5372 {
  position:absolute;
  left:422px;
  top:1378px;
  width:556px;
  height:22px;
}
#u5373 {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  white-space:nowrap;
}
#u5374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5374 {
  position:absolute;
  left:422px;
  top:1434px;
  width:277px;
  height:22px;
}
#u5375 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u5376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5376 {
  position:absolute;
  left:422px;
  top:1496px;
  width:526px;
  height:19px;
}
#u5377 {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  white-space:nowrap;
}
#u5378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5378 {
  position:absolute;
  left:422px;
  top:1466px;
  width:282px;
  height:19px;
}
#u5379 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  white-space:nowrap;
}
#u5380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:16px;
}
#u5380 {
  position:absolute;
  left:422px;
  top:1525px;
  width:267px;
  height:16px;
  font-size:14px;
}
#u5381 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u5382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5382 {
  position:absolute;
  left:422px;
  top:1546px;
  width:526px;
  height:19px;
}
#u5383 {
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  white-space:nowrap;
}
#u5384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:16px;
}
#u5384 {
  position:absolute;
  left:422px;
  top:1575px;
  width:267px;
  height:16px;
  font-size:14px;
}
#u5385 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u5386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5386 {
  position:absolute;
  left:422px;
  top:1634px;
  width:405px;
  height:22px;
}
#u5387 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  white-space:nowrap;
}
#u5388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5388 {
  position:absolute;
  left:422px;
  top:1684px;
  width:209px;
  height:22px;
}
#u5389 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u5390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5390 {
  position:absolute;
  left:422px;
  top:1734px;
  width:231px;
  height:22px;
}
#u5391 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u5392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5392 {
  position:absolute;
  left:422px;
  top:1766px;
  width:402px;
  height:19px;
}
#u5393 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  white-space:nowrap;
}
#u5394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5394 {
  position:absolute;
  left:422px;
  top:1796px;
  width:498px;
  height:19px;
}
#u5395 {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  white-space:nowrap;
}
#u5396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5396 {
  position:absolute;
  left:422px;
  top:1864px;
  width:323px;
  height:22px;
}
#u5397 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u5398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5398 {
  position:absolute;
  left:422px;
  top:1896px;
  width:401px;
  height:19px;
}
#u5399 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
}
#u5400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5400 {
  position:absolute;
  left:422px;
  top:1926px;
  width:401px;
  height:19px;
}
#u5401 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  white-space:nowrap;
}
#u5402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5402 {
  position:absolute;
  left:422px;
  top:1956px;
  width:371px;
  height:19px;
}
#u5403 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  white-space:nowrap;
}
#u5404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5404 {
  position:absolute;
  left:422px;
  top:1986px;
  width:448px;
  height:19px;
}
#u5405 {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  white-space:nowrap;
}
#u5406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5406 {
  position:absolute;
  left:422px;
  top:2016px;
  width:448px;
  height:19px;
}
#u5407 {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  white-space:nowrap;
}
#u5408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5408 {
  position:absolute;
  left:422px;
  top:2046px;
  width:174px;
  height:19px;
}
#u5409 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u5410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5410 {
  position:absolute;
  left:422px;
  top:2113px;
  width:271px;
  height:22px;
}
#u5411 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u5412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5412 {
  position:absolute;
  left:422px;
  top:2145px;
  width:554px;
  height:19px;
}
#u5413 {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  white-space:nowrap;
}
#u5414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5414 {
  position:absolute;
  left:422px;
  top:2175px;
  width:272px;
  height:19px;
}
#u5415 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  white-space:nowrap;
}
#u5416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5416 {
  position:absolute;
  left:422px;
  top:2205px;
  width:244px;
  height:19px;
}
#u5417 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
#u5418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5418 {
  position:absolute;
  left:422px;
  top:2273px;
  width:309px;
  height:22px;
}
#u5419 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u5420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5420 {
  position:absolute;
  left:422px;
  top:2305px;
  width:630px;
  height:19px;
}
#u5421 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  white-space:nowrap;
}
#u5422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5422 {
  position:absolute;
  left:422px;
  top:2335px;
  width:630px;
  height:19px;
}
#u5423 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  white-space:nowrap;
}
#u5424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5424 {
  position:absolute;
  left:422px;
  top:2365px;
  width:592px;
  height:19px;
}
#u5425 {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  white-space:nowrap;
}
#u5426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5426 {
  position:absolute;
  left:422px;
  top:2395px;
  width:718px;
  height:19px;
}
#u5427 {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  white-space:nowrap;
}
#u5428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5428 {
  position:absolute;
  left:422px;
  top:2425px;
  width:730px;
  height:19px;
}
#u5429 {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  white-space:nowrap;
}
#u5430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5430 {
  position:absolute;
  left:422px;
  top:2455px;
  width:272px;
  height:19px;
}
#u5431 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  white-space:nowrap;
}
#u5432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5432 {
  position:absolute;
  left:422px;
  top:2485px;
  width:244px;
  height:19px;
}
#u5433 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
