body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:74px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u2820 {
  position:absolute;
  left:0px;
  top:738px;
  width:375px;
  height:74px;
}
#u2821 {
  position:absolute;
  left:2px;
  top:29px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2822 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u2823 {
  position:absolute;
  left:95px;
  top:748px;
  width:41px;
  height:42px;
  color:#FFD017;
}
#u2824 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFD017;
}
#u2825 {
  position:absolute;
  left:100px;
  top:790px;
  width:29px;
  height:16px;
  color:#FFD017;
}
#u2826 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2827 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u2828 {
  position:absolute;
  left:167px;
  top:748px;
  width:41px;
  height:42px;
}
#u2829 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2830 {
  position:absolute;
  left:171px;
  top:790px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u2831 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2832 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u2833 {
  position:absolute;
  left:312px;
  top:748px;
  width:41px;
  height:42px;
}
#u2834 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2835 {
  position:absolute;
  left:316px;
  top:790px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u2836 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u2837 {
  position:absolute;
  left:23px;
  top:748px;
  width:41px;
  height:42px;
}
#u2838 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2839 {
  position:absolute;
  left:28px;
  top:790px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u2840 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2841 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u2842 {
  position:absolute;
  left:240px;
  top:748px;
  width:41px;
  height:42px;
}
#u2843 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2844 {
  position:absolute;
  left:244px;
  top:790px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u2845 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:66px;
}
#u2846 {
  position:absolute;
  left:0px;
  top:72px;
  width:375px;
  height:66px;
}
#u2847 {
  position:absolute;
  left:2px;
  top:25px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2848 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2849 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  word-wrap:break-word;
}
#u2850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:37px;
  background:inherit;
  background-color:rgba(19, 18, 19, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2850 {
  position:absolute;
  left:0px;
  top:36px;
  width:375px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2851 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2852 {
  position:absolute;
  left:19px;
  top:44px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2853 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#A1A1A1;
}
#u2854 {
  position:absolute;
  left:89px;
  top:48px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#A1A1A1;
}
#u2855 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#A1A1A1;
}
#u2856 {
  position:absolute;
  left:169px;
  top:48px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#A1A1A1;
}
#u2857 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2858 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2859 {
  position:absolute;
  left:310px;
  top:47px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2860 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2861 {
  position:absolute;
  left:346px;
  top:47px;
  width:20px;
  height:20px;
}
#u2862 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:600px;
}
#u2863 {
  position:absolute;
  left:0px;
  top:138px;
  width:375px;
  height:600px;
}
#u2864 {
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
