body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:784px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:59px;
}
#u934 {
  position:absolute;
  left:409px;
  top:33px;
  width:375px;
  height:59px;
}
#u935 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:696px;
}
#u936 {
  position:absolute;
  left:409px;
  top:91px;
  width:27px;
  height:696px;
}
#u937 {
  position:absolute;
  left:2px;
  top:340px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:55px;
}
#u938 {
  position:absolute;
  left:434px;
  top:731px;
  width:323px;
  height:55px;
}
#u939 {
  position:absolute;
  left:2px;
  top:20px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:692px;
}
#u940 {
  position:absolute;
  left:757px;
  top:92px;
  width:27px;
  height:692px;
}
#u941 {
  position:absolute;
  left:2px;
  top:338px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u943 {
  position:absolute;
  left:677px;
  top:94px;
  width:75px;
  height:27px;
}
#u944 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u945 {
  position:absolute;
  left:727px;
  top:101px;
  width:14px;
  height:14px;
}
#u946 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u947 {
  position:absolute;
  left:731px;
  top:105px;
  width:5px;
  height:5px;
}
#u948 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u949 {
  position:absolute;
  left:691px;
  top:106px;
  width:3px;
  height:3px;
}
#u950 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u951 {
  position:absolute;
  left:695px;
  top:105px;
  width:5px;
  height:5px;
}
#u952 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u953 {
  position:absolute;
  left:703px;
  top:106px;
  width:3px;
  height:3px;
}
#u954 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u955 {
  position:absolute;
  left:714px;
  top:102px;
  width:1px;
  height:14px;
}
#u956 {
  position:absolute;
  left:2px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u957 {
  position:absolute;
  left:558px;
  top:98px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u959 {
  position:absolute;
  left:435px;
  top:93px;
  width:28px;
  height:28px;
}
#u960 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961 {
  position:absolute;
  left:435px;
  top:119px;
  width:323px;
  height:641px;
  overflow:hidden;
}
#u961_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:641px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u961_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:641px;
  overflow:hidden;
}
#u962_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:641px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u962_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:234px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:234px;
}
#u964 {
  position:absolute;
  left:2px;
  top:109px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:24px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u965 {
  position:absolute;
  left:257px;
  top:81px;
  width:66px;
  height:24px;
  font-size:12px;
  color:#949494;
}
#u966 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF3333;
}
#u967 {
  position:absolute;
  left:121px;
  top:311px;
  width:81px;
  height:33px;
  font-size:28px;
  color:#FF3333;
}
#u968 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u969 {
  position:absolute;
  left:75px;
  top:282px;
  width:173px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u971 {
  position:absolute;
  left:10px;
  top:1158px;
  width:90px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u973 {
  position:absolute;
  left:10px;
  top:1187px;
  width:30px;
  height:30px;
}
#u974 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u975 {
  position:absolute;
  left:45px;
  top:1187px;
  width:30px;
  height:30px;
}
#u976 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u977 {
  position:absolute;
  left:80px;
  top:1187px;
  width:30px;
  height:30px;
}
#u978 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u979 {
  position:absolute;
  left:115px;
  top:1187px;
  width:30px;
  height:30px;
}
#u980 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u981 {
  position:absolute;
  left:150px;
  top:1187px;
  width:30px;
  height:30px;
}
#u982 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u983 {
  position:absolute;
  left:185px;
  top:1187px;
  width:30px;
  height:30px;
}
#u984 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u985 {
  position:absolute;
  left:255px;
  top:1187px;
  width:30px;
  height:30px;
}
#u986 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u987 {
  position:absolute;
  left:220px;
  top:1187px;
  width:30px;
  height:30px;
}
#u988 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u989 {
  position:absolute;
  left:290px;
  top:1187px;
  width:30px;
  height:30px;
}
#u990 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u991 {
  position:absolute;
  left:293px;
  top:1199px;
  width:6px;
  height:6px;
}
#u992 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u993 {
  position:absolute;
  left:302px;
  top:1199px;
  width:6px;
  height:6px;
}
#u994 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u995 {
  position:absolute;
  left:311px;
  top:1199px;
  width:6px;
  height:6px;
}
#u996 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:24px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u997 {
  position:absolute;
  left:257px;
  top:81px;
  width:66px;
  height:24px;
  font-size:12px;
  color:#949494;
}
#u998 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:211px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-radius:7px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u999 {
  position:absolute;
  left:8px;
  top:271px;
  width:305px;
  height:211px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:98px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1001 {
  position:absolute;
  left:105px;
  top:354px;
  width:113px;
  height:19px;
}
#u1002 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF3333;
}
#u1003 {
  position:absolute;
  left:121px;
  top:311px;
  width:81px;
  height:33px;
  font-size:28px;
  color:#FF3333;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1005 {
  position:absolute;
  left:81px;
  top:282px;
  width:173px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1006 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1007 {
  position:absolute;
  left:10px;
  top:1187px;
  width:30px;
  height:30px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1009 {
  position:absolute;
  left:45px;
  top:1187px;
  width:30px;
  height:30px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1011 {
  position:absolute;
  left:80px;
  top:1187px;
  width:30px;
  height:30px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1013 {
  position:absolute;
  left:115px;
  top:1187px;
  width:30px;
  height:30px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1015 {
  position:absolute;
  left:150px;
  top:1187px;
  width:30px;
  height:30px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1017 {
  position:absolute;
  left:185px;
  top:1187px;
  width:30px;
  height:30px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1019 {
  position:absolute;
  left:255px;
  top:1187px;
  width:30px;
  height:30px;
}
#u1020 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1021 {
  position:absolute;
  left:220px;
  top:1187px;
  width:30px;
  height:30px;
}
#u1022 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1023 {
  position:absolute;
  left:290px;
  top:1187px;
  width:30px;
  height:30px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1025 {
  position:absolute;
  left:293px;
  top:1199px;
  width:6px;
  height:6px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1027 {
  position:absolute;
  left:302px;
  top:1199px;
  width:6px;
  height:6px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1029 {
  position:absolute;
  left:311px;
  top:1199px;
  width:6px;
  height:6px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u1032 {
  position:absolute;
  left:9px;
  top:1288px;
  width:305px;
  height:100px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:42px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  border:none;
  border-radius:7px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1034 {
  position:absolute;
  left:9px;
  top:1287px;
  width:80px;
  height:28px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u1036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1036 {
  position:absolute;
  left:22px;
  top:1325px;
  width:131px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1037 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u1038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1038 {
  position:absolute;
  left:22px;
  top:1351px;
  width:85px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1039 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1040 {
  position:absolute;
  left:193px;
  top:1354px;
  width:115px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u1042 {
  position:absolute;
  left:112px;
  top:1327px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:417px;
}
#u1043 {
  position:absolute;
  left:10px;
  top:512px;
  width:303px;
  height:413px;
  color:#FFFFFF;
}
#u1044 {
  position:absolute;
  left:2px;
  top:198px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:387px;
}
#u1045 {
  position:absolute;
  left:19px;
  top:522px;
  width:283px;
  height:387px;
  color:#FFFFFF;
}
#u1046 {
  position:absolute;
  left:2px;
  top:186px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文琥珀 Oblique', '华文琥珀';
  font-weight:400;
  font-style:oblique;
  font-size:28px;
}
#u1047 {
  position:absolute;
  left:105px;
  top:502px;
  width:113px;
  height:29px;
  font-family:'华文琥珀 Oblique', '华文琥珀';
  font-weight:400;
  font-style:oblique;
  font-size:28px;
}
#u1048 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1049 {
  position:absolute;
  left:45px;
  top:543px;
  width:10px;
  height:10px;
}
#u1050 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1051 {
  position:absolute;
  left:268px;
  top:543px;
  width:10px;
  height:10px;
}
#u1052 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1053 {
  position:absolute;
  left:268px;
  top:876px;
  width:10px;
  height:10px;
}
#u1054 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1055 {
  position:absolute;
  left:41px;
  top:876px;
  width:10px;
  height:10px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1057 {
  position:absolute;
  left:45px;
  top:563px;
  width:129px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1058 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1059 {
  position:absolute;
  left:45px;
  top:589px;
  width:241px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:15px;
}
#u1061 {
  position:absolute;
  left:45px;
  top:611px;
  width:241px;
  height:15px;
  font-size:12px;
}
#u1062 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:15px;
}
#u1063 {
  position:absolute;
  left:45px;
  top:634px;
  width:229px;
  height:15px;
  font-size:12px;
}
#u1064 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u1065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1065 {
  position:absolute;
  left:45px;
  top:668px;
  width:129px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1067 {
  position:absolute;
  left:45px;
  top:694px;
  width:13px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1068 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  visibility:hidden;
  white-space:nowrap;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1069 {
  position:absolute;
  left:45px;
  top:699px;
  width:241px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1070 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:15px;
}
#u1071 {
  position:absolute;
  left:45px;
  top:720px;
  width:265px;
  height:15px;
  font-size:12px;
}
#u1072 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
}
#u1073 {
  position:absolute;
  left:45px;
  top:743px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u1074 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1075 {
  position:absolute;
  left:45px;
  top:781px;
  width:129px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1076 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1077 {
  position:absolute;
  left:45px;
  top:812px;
  width:241px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1078 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:15px;
}
#u1079 {
  position:absolute;
  left:45px;
  top:833px;
  width:287px;
  height:15px;
  font-size:12px;
}
#u1080 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
  text-align:center;
}
#u1081 {
  position:absolute;
  left:121px;
  top:870px;
  width:81px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
  text-align:center;
}
#u1082 {
  position:absolute;
  left:0px;
  top:3px;
  width:81px;
  word-wrap:break-word;
}
#u1083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u1083 {
  position:absolute;
  left:45px;
  top:853px;
  width:53px;
  height:15px;
  font-size:12px;
}
#u1084 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-radius:19px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1085 {
  position:absolute;
  left:26px;
  top:1239px;
  width:271px;
  height:39px;
  color:#FFFFFF;
}
#u1086 {
  position:absolute;
  left:2px;
  top:12px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u1087 {
  position:absolute;
  left:117px;
  top:1243px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1088 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:13px;
}
#u1089 {
  position:absolute;
  left:124px;
  top:1259px;
  width:75px;
  height:13px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u1090 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(54, 54, 54, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1091 {
  position:absolute;
  left:26px;
  top:379px;
  width:271px;
  height:74px;
  color:#FFFFFF;
}
#u1092 {
  position:absolute;
  left:2px;
  top:29px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u1093 {
  position:absolute;
  left:40px;
  top:414px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1094 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:22px;
}
#u1095 {
  position:absolute;
  left:115px;
  top:414px;
  width:88px;
  height:22px;
  color:#FFFFFF;
}
#u1096 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u1097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u1097 {
  position:absolute;
  left:232px;
  top:417px;
  width:57px;
  height:16px;
  font-size:14px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u1098 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
}
#u1099 {
  position:absolute;
  left:57px;
  top:385px;
  width:209px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF9966;
}
#u1100 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u1101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u1101 {
  position:absolute;
  left:30px;
  top:163px;
  width:263px;
  height:105px;
}
#u1102 {
  position:absolute;
  left:2px;
  top:44px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:39px;
}
#u1103 {
  position:absolute;
  left:30px;
  top:182px;
  width:263px;
  height:39px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1104 {
  position:absolute;
  left:2px;
  top:12px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:7px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1105 {
  position:absolute;
  left:30px;
  top:163px;
  width:263px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1106 {
  position:absolute;
  left:2px;
  top:2px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1107 {
  position:absolute;
  left:144px;
  top:191px;
  width:40px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1108 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  word-wrap:break-word;
}
#u1109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1109 {
  position:absolute;
  left:64px;
  top:241px;
  width:211px;
  height:16px;
  color:#FFFFFF;
}
#u1110 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u1111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1111 {
  position:absolute;
  left:0px;
  top:935px;
  width:323px;
  height:213px;
}
#u1112 {
  position:absolute;
  left:2px;
  top:98px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:159px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1113 {
  position:absolute;
  left:9px;
  top:974px;
  width:300px;
  height:159px;
}
#u1114 {
  position:absolute;
  left:2px;
  top:72px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1115 {
  position:absolute;
  left:45px;
  top:962px;
  width:221px;
  height:31px;
}
#u1116 {
  position:absolute;
  left:2px;
  top:8px;
  width:217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:45px;
}
#u1117 {
  position:absolute;
  left:55px;
  top:945px;
  width:199px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1118 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  word-wrap:break-word;
}
#u1119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u1119 {
  position:absolute;
  left:265px;
  top:961px;
  width:17px;
  height:20px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1120 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u1121 {
  position:absolute;
  left:266px;
  top:973px;
  width:17px;
  height:20px;
}
#u1122 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u1123 {
  position:absolute;
  left:28px;
  top:962px;
  width:17px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1124 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u1125 {
  position:absolute;
  left:30px;
  top:975px;
  width:17px;
  height:20px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1126 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:37px;
}
#u1127 {
  position:absolute;
  left:77px;
  top:975px;
  width:157px;
  height:27px;
}
#u1128 {
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u1129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1129 {
  position:absolute;
  left:30px;
  top:1012px;
  width:50px;
  height:50px;
}
#u1130 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1131 {
  position:absolute;
  left:19px;
  top:1050px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u1132 {
  position:absolute;
  left:2px;
  top:3px;
  width:69px;
  word-wrap:break-word;
}
#u1133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1133 {
  position:absolute;
  left:37px;
  top:1075px;
  width:38px;
  height:16px;
}
#u1134 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u1135 {
  position:absolute;
  left:26px;
  top:1092px;
  width:45px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u1136 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9966;
}
#u1137 {
  position:absolute;
  left:71px;
  top:1097px;
  width:15px;
  height:16px;
  color:#FF9966;
}
#u1138 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1139 {
  position:absolute;
  left:130px;
  top:1012px;
  width:50px;
  height:50px;
}
#u1140 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 153, 102, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1141 {
  position:absolute;
  left:119px;
  top:1050px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u1142 {
  position:absolute;
  left:2px;
  top:3px;
  width:69px;
  word-wrap:break-word;
}
#u1143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1143 {
  position:absolute;
  left:137px;
  top:1075px;
  width:38px;
  height:16px;
}
#u1144 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9966;
}
#u1145 {
  position:absolute;
  left:134px;
  top:1093px;
  width:34px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF9966;
}
#u1146 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9966;
}
#u1147 {
  position:absolute;
  left:171px;
  top:1097px;
  width:15px;
  height:16px;
  color:#FF9966;
}
#u1148 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1149 {
  position:absolute;
  left:230px;
  top:1012px;
  width:50px;
  height:50px;
}
#u1150 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1151 {
  position:absolute;
  left:219px;
  top:1050px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u1152 {
  position:absolute;
  left:2px;
  top:3px;
  width:69px;
  word-wrap:break-word;
}
#u1153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1153 {
  position:absolute;
  left:237px;
  top:1075px;
  width:39px;
  height:16px;
}
#u1154 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFCC99;
}
#u1155 {
  position:absolute;
  left:236px;
  top:1093px;
  width:34px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFCC99;
}
#u1156 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9966;
}
#u1157 {
  position:absolute;
  left:271px;
  top:1097px;
  width:15px;
  height:16px;
  color:#FF9966;
}
#u1158 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
