body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1235px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:29px;
  background:inherit;
  background-color:rgba(51, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u5302 {
  position:absolute;
  left:402px;
  top:559px;
  width:499px;
  height:29px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u5303 {
  position:absolute;
  left:2px;
  top:6px;
  width:495px;
  word-wrap:break-word;
}
#u5304 {
  position:absolute;
  left:661px;
  top:1437px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5305 {
  position:absolute;
  left:422px;
  top:651px;
  width:427px;
  height:22px;
}
#u5306 {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  white-space:nowrap;
}
#u5307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5307 {
  position:absolute;
  left:422px;
  top:713px;
  width:304px;
  height:19px;
}
#u5308 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  white-space:nowrap;
}
#u5309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5309 {
  position:absolute;
  left:624px;
  top:604px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5310 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u5311 {
  position:absolute;
  left:422px;
  top:683px;
  width:99px;
  height:16px;
  font-size:14px;
}
#u5312 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5313 {
  position:absolute;
  left:422px;
  top:742px;
  width:458px;
  height:19px;
}
#u5314 {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  white-space:nowrap;
}
#u5315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1183px;
  height:536px;
}
#u5315 {
  position:absolute;
  left:52px;
  top:13px;
  width:1183px;
  height:536px;
}
#u5316 {
  position:absolute;
  left:2px;
  top:260px;
  width:1179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u5317 {
  position:absolute;
  left:422px;
  top:771px;
  width:211px;
  height:16px;
  font-size:14px;
}
#u5318 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u5319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5319 {
  position:absolute;
  left:422px;
  top:802px;
  width:480px;
  height:19px;
}
#u5320 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  white-space:nowrap;
}
#u5321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5321 {
  position:absolute;
  left:422px;
  top:853px;
  width:318px;
  height:19px;
}
#u5322 {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  white-space:nowrap;
}
#u5323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
}
#u5323 {
  position:absolute;
  left:422px;
  top:825px;
  width:193px;
  height:16px;
  font-size:14px;
}
#u5324 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u5325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5325 {
  position:absolute;
  left:422px;
  top:882px;
  width:482px;
  height:19px;
}
#u5326 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  white-space:nowrap;
}
#u5327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u5327 {
  position:absolute;
  left:422px;
  top:906px;
  width:131px;
  height:16px;
  font-size:14px;
}
#u5328 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u5329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5329 {
  position:absolute;
  left:422px;
  top:933px;
  width:370px;
  height:19px;
}
#u5330 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  white-space:nowrap;
}
#u5331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5331 {
  position:absolute;
  left:422px;
  top:963px;
  width:244px;
  height:19px;
}
#u5332 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
